[user]
  name = James Choi
  email = jchoi2012@knights.ucf.edu
[credential]
  helper = osxkeychain
[push]
  default = matching
[core]
  autocrlf = input
  pager = less -r
[alias]
  co = checkout
  br = branch
  st = status
  cm = commit
  a = add
  ci = commit
[color]
  ui = true
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[url "https://"]
  insteadOf = git://
